# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
*bin/
*build/
*develop-eggs/
*dist/
*eggs/
*lib/
*lib64/
*parts/
*sdist/
*var/
*.egg-info/
*.installed.cfg
*.egg

# PyCharm
*.idea/

*.bak

# Installer logs
*pip-log.txt
*pip-delete-this-directory.txt

# Unit test / coverage reports
*.tox/
*.coverage
cov_html
*.cache
*nosetests.xml
*coverage.xml
*cover/

# DB
*.db
*.db*

# NPM
*node_modules*

*.vscode*
htmlcov/